In [1]:
from pandas import *

In [80]:
df = pandas.io.parsers.read_csv('1995-2015_5-cycle.csv',index_col=0)

In [81]:
df.head()

,YEAR,MAKE,MODEL,CLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,CITY (L/100 km),HWY (L/100 km),COMB (L/100 km),COMB (mpg),CO2(g/km)
0,1995,ACURA,INTEGRA,SUBCOMPACT,1.8,4,M5,X,11.0,8.3,9.8,29,225
1,1995,ACURA,INTEGRA GS-R,SUBCOMPACT,1.8,4,M5,Z,10.8,8.3,9.7,29,223
2,1995,ACURA,LEGEND,COMPACT,3.2,6,A4,Z,14.2,10.5,12.5,23,288
3,1995,ACURA,LEGEND COUPE,COMPACT,3.2,6,A4,Z,14.6,11.0,13.0,22,299
4,1995,ACURA,LEGEND COUPE,COMPACT,3.2,6,M6,Z,15.0,9.9,12.7,22,292

In [82]:
fuelly = read_csv('fuelly-car-data-make-model-year-info.csv',index_col=0)

In [83]:
fuelly['make'] = fuelly['make'].str.upper()

In [84]:
fuelly['model'] = fuelly['model'].str.upper()

In [85]:
fuelly.rename(columns={'weight':'WEIGHT'}, inplace=True)

In [86]:
fuelly.head()

,avgMpg,fuelups,horsepower,link,make,miles,model,owners,type,WEIGHT,year
0,36.6,1343,115,http://www.fuelly.com/car/volkswagen/jetta/2015,VOLKSWAGEN,584877,JETTA,115,SEDAN,2859,2015
1,36.9,14383,115,http://www.fuelly.com/car/volkswagen/jetta/2014,VOLKSWAGEN,6325111,JETTA,532,SEDAN,2804,2014
2,37.5,36605,115,http://www.fuelly.com/car/volkswagen/jetta/2013,VOLKSWAGEN,16367179,JETTA,926,SEDAN,2842,2013
3,37.6,45853,115,http://www.fuelly.com/car/volkswagen/jetta/2012,VOLKSWAGEN,20997540,JETTA,1049,SEDAN,NaN,2012
4,37.2,39577,115,http://www.fuelly.com/car/volkswagen/jetta/2011,VOLKSWAGEN,18278781,JETTA,807,SEDAN,2804,2011

In [92]:
columns = list(df.columns.values)

In [94]:
columns.append('WEIGHT')

None

In [96]:
df = merge(df, fuelly, how='inner', left_on=['MAKE','MODEL','YEAR'], right_on=['make','model','year'],
      suffixes=('_x', '_y'))

In [97]:
df = df[columns]

In [101]:
df.to_csv('1995-2015_5-cycle-weights.csv', encoding='utf-8')